* {
  padding: 0%;
  margin: 0%;
  font-family: "poppins";
  cursor: default;
}
html,
body {
  height: 100%;
  width: 100%;
}
header {
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: rgb(247, 86, 5);
}
header #topitems {
  height: 20%;
  width: 100%;
  background-color: rgb(247, 86, 5);
  cursor: pointer;
}
header #topitems ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 1px;
  padding-left: 550px;
  font-size: 12px;
  padding-right: 25px;
  padding-top: 5px;
  list-style: none;
}
header #topitems ul li:hover {
  color: rgb(228, 227, 227);
  cursor: pointer;
}
header #topitems2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
header #topitems2 img {
  height: 10%;
  width: 10%;
  padding: 10px;
  object-fit: contain;
  margin-top: 12px;
  margin-left: 25px;
  margin-right: 75px;
  cursor: pointer;
}
header #topitems2 form #box {
  width: 650px;
  height: 40px;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  cursor: text;
}
header #topitems2 form #box:focus {
  outline: none;
  box-shadow: none;
}
header #topitems2 form i {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
#fakeheader {
  height: 20%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

main {
  height: 80%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
main #page1 {
  display: flex;
}
main #page1 #img1 {
  height: 100%;
  width: 95%;
}
main #page1 #img1 img {
  height: 100%;
  width: 100%;
  padding-left: 25px;
  object-fit: contain;
}
main #page1 #img2 {
  height: 100%;
  width: 22.867%;
  margin-left: 30px;
  margin-right: 25px;
  background-color: rgb(255, 217, 237);
}
main #page1 #img2 #download {
  background-color: rgb(255, 217, 237);
  display: flex;
}
main #page1 #img2 #download img {
  object-fit: contain;
  height: 10%;
  width: 10%;
  justify-content: left;
}
main #page1 #img2 #download h5 {
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-weight: 500;
  color: rgb(107, 29, 0);
  cursor: text;
}
main #page1 #img2 #screenshot #img {
  object-fit: contain;
  height: 2%;
  width: 80%;
}
main #page1 #img2 #screenshot #img1 {
  margin-left: 3px;
  object-fit: contain;
  width: 80%;
}
main #flash h3 {
  font-weight: 400;
  margin-left: 30px;
  color: rgb(66, 66, 66);
  margin-top: 20px;
}
main #page2{
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}